{% extends "polls/base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}

    <ul>
        {% for error in form.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>

   <form action="{% url 'polls:sign_up' %}" method="post">
       {% csrf_token %}

        <p>{{ form.username.label_tag }}</p>
        <p>{{ form.username }}</p>

        <p>{{ form.email.label_tag }}</p>
        <p>{{ form.email }}</p>

        <p>{{ form.first_name.label_tag }}</p>
        <p>{{ form.first_name }}</p>

        <p>{{ form.last_name.label_tag }}</p>
        <p>{{ form.last_name }}</p>

        <p>{{ form.password1.label_tag }}</p>
        <p>{{ form.password1 }}</p>

        <p>{{ form.password2.label_tag }}</p>
        <p>{{ form.password2 }}</p>


       <p><input type="submit" value="Зарегистрироваться"></p>

       <p>
            <a href="/login">Войти</a>
        </p>
   </form>
{% endblock %}
